{% extends "encyclopedia/layout.html" %}

{% block title %}
    Edit Page
{% endblock %}

{% block body %}

    <h1>Edit wiki page</h1>

    <form action="{% url 'wiki:edit' search %}" method="post">
        {% csrf_token %}
        <div>
            <label for="title">Title of wiki entry: </label>
        </div>

        <div>
            <input type="text" name="title" value="{{ search }}">
        </div>

        <div>
            <label for="editpage">Edit the wiki entry below:</label>
        </div>

        <div>
            <textarea id="editpage" name="editpage" placeholder="{{ content }}" rows="4" cols="50">{{ content|safe }}</textarea>
        </div>

        <div>
            <input class="page" type="submit" value="Save Changes">
        </div>
    </form>

{% endblock %}